; A drush makefile for CiviCRM.
; Call using:
; drush make --working-copy civicrm.make

; drush make API version
api = 2

; Drupal core
core = %%CMS_VERSION%%

; ****************************************
; Drupal core
; ****************************************

projects[] = drupal
; projects[drupal][patch][gitignore] = https://gist.githubusercontent.com/eileenmcnaughton/f1a68be463b9fa68e7d5/raw/b3b80561350d040bc0d0e79e293afda73fde213b/drupal-gitignore.patch

; ****************************************
; Fuzion profile
; ****************************************

projects[fuzion][type] = "profile"
projects[fuzion][download][type] = "git"
projects[fuzion][download][revision] = "master"
projects[fuzion][download][url] = git@github.com:fuzionnz/fuzion.git

; ****************************************
; CiviCRM core
; ****************************************

; IMPORTANT: replace "github.com/civicrm" by your own fork of CiviCRM.
; This will make it easier to submit pull-requests for patches.
; see: http://wiki.civicrm.org/confluence/display/CRMDOC/Github+for+CiviCRM

libraries[civicrmdrupal][destination] = modules
libraries[civicrmdrupal][directory_name] = civicrm/drupal
libraries[civicrmdrupal][download][type] = git
libraries[civicrmdrupal][download][url] = %%CACHE_DIR%%/civicrm/civicrm-drupal.git
libraries[civicrmdrupal][download][branch] = 7.x-%%CIVI_VERSION%%
libraries[civicrmdrupal][overwrite] = TRUE

libraries[civicrmpackages][destination] = modules
libraries[civicrmpackages][directory_name] = civicrm/packages
libraries[civicrmpackages][download][type] = git
libraries[civicrmpackages][download][url] = %%CACHE_DIR%%/civicrm/civicrm-packages.git
libraries[civicrmpackages][download][branch] = %%CIVI_VERSION%%
libraries[civicrmpackages][overwrite] = TRUE

; Download available l10n releases (may be outdated)
; libraries[civicrm_l10n][destination] = modules
; libraries[civicrm_l10n][directory_name] = civicrm/l10n/fr_CA/LC_MESSAGES/
; libraries[civicrm_l10n][download][type] = get
; libraries[civicrm_l10n][download][url] = "https://raw.github.com/civicrm/l10n/master/po/fr_CA/civicrm.mo"
; libraries[civicrm_l10n][overwrite] = TRUE

; Overwrite .mo files with latest versions
; libraries[civicrm_l10n_latest][destination] = modules
; libraries[civicrm_l10n_latest][directory_name] = civicrm/l10n
; libraries[civicrm_l10n_latest][download][type] = get
; libraries[civicrm_l10n_latest][download][url] = http://download.civicrm.org/civicrm-l10n-core/archives/civicrm-l10n-daily.tar.gz
; libraries[civicrm_l10n_latest][overwrite] = TRUE

libraries[civicrm][destination] = modules
libraries[civicrm][directory_name] = civicrm
libraries[civicrm][download][type] = git
libraries[civicrm][download][url] = %%CACHE_DIR%%/civicrm/civicrm-core.git
libraries[civicrm][download][branch] = %%CIVI_VERSION%%
libraries[civicrm][overwrite] = TRUE

; ****************************************
; Modules
; ****************************************

projects[] = admin_menu
projects[] = civicrm_entity
projects[] = coffee
projects[] = ctools
projects[] = date
projects[] = entity
projects[] = entityreference
projects[] = environment
projects[] = environment_indicator
projects[] = features
projects[] = globalredirect
projects[] = google_analytics
projects[] = imce
projects[] = htmlmail
projects[] = libraries
projects[] = mailsystem
projects[] = masquerade
projects[] = metatag
projects[] = mimemail
projects[] = module_filter
projects[] = node_clone
projects[] = nocurrent_pass
projects[] = pathauto
projects[] = redirect
projects[] = reroute_email
projects[] = rules
projects[] = smtp
projects[] = strongarm
projects[] = token
projects[] = views
projects[] = views_bulk_operations
projects[] = webform
projects[] = webform_civicrm
projects[] = webform_layout
projects[] = wysiwyg

libraries[civicrmdeveloper][destination] = modules
libraries[civicrmdeveloper][directory_name] = contrib/civicrm_developer
libraries[civicrmdeveloper][download][type] = git
libraries[civicrmdeveloper][download][url] = %%CACHE_DIR%%/eileenmcnaughton/civicrm_developer.git
libraries[civicrmdeveloper][download][branch] = master
libraries[civicrmdeveloper][overwrite] = TRUE
